/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
    display:block;
}
.help-home{
    top: 70%;
    color: #fff;
    width: auto;
    text-transform:none;
    border-radius: 10%;
    background: #EB4D4D;
    padding: 10px;
    transition: background-color 0.6s, color 0.6s;
}
.help-home:hover{
    color: #EB4D4D;
    font-weight: 600;
    font-size: 25px;
    background: #fff;
    top: 69%;


}
.my-check{
    margin: auto;
  padding: 70px 0;

  text-align: center;

}
.back-btn{
    top: 80%;
    color: #fff;
    width: auto;
    text-transform:none;
    border-radius: 10%;
    background: #EB4D4D;
    padding: 10px;
    transition: background-color 0.6s, color 0.6s;
}
.back-btn:hover{
    color: #EB4D4D;
    font-weight: 600;
    font-size: 25px;
    background: #fff;
    top: 79%;


}
.custom-icon-one{
    width:64px;
   float: left;
   padding: 15px;
  
}
.custom-icon-one:hover,
.custom-icon-two:hover{
       padding: 5px;
      
}
img{
    height:64px;
    width:64px;
}
.custom-icon-two{
    width:64px;
   padding: 15px;
   float: right;
  
}
.icon-holder{
    margin: auto;
  width: 20%;
 
  text-align: center;
    
}
#custom-score{
    display: inline;
}
.my-head{
  
    text-align: center;
}
.player-setting-panel,
.player-help-panel{
    width: 100%;
    float: left;
    height: 600px;
    padding: 100px;
}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}
.game-setting { top: 20px;
    left: 95%; 
    font-size: 0px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.game-setting:hover{
    left: 90%; 
    font-weight: 600;
    font-size: 25px;
    color: #555;
}
.game-help { top: 20px;
    left: 5%; 
    font-size: 0px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.game-help:hover{
    left: 10%; 
    font-weight: 600;
    font-size: 25px;
    color: #555;
}

.dice-one {
    height: auto;
    width: auto;
    position: absolute;
    left: 58%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.dice-two {
    height: auto;
    width: auto;
    position: absolute;
    left: 43%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }